// .mainNav {
//     padding-left: 12rem;
//     background: #37003c;
//     line-height: 6rem;
//     color: #fff;
//     top: 0;
//     left: 0;
//     width: 100%;
//     transition: box-shadow .2s;
//     backface-visibility: hidden;
//     position: relative;
// }

.navLink_active {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 2rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    position: relative;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    background: #37003c;
}


.navLink {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 2rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    position: relative;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    background: #37003c;
}
.navOption {
    position: relative;
}
.searchBtn {
    position: relative;
}
.navLink {
    position: relative;
}
.masthead .navOption, .masthead .pageLinks li, .masthead .searchBtn, .masthead a.navLink {
    position: relative;
}
.pageLinks.li {
    float: left;
    position: relative;
}
ol li, ul li {
    list-style-type: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.pageLinks {
    padding-left: 10rem;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
    /* margin-bottom: 0; */
}
nav {
    display: block;
}

.navContainer {
    min-height: 6rem;
}

.navBar {
    background: #37003c;
    line-height: 6rem;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    transition: box-shadow .2s;
    backface-visibility: hidden;
    position: relative;
    --vh: 7.07px;
}

.pl-header-logo {
    width: 8.8rem;
    height: 11.2rem;
    margin-top: 2.8rem;
    -o-object-fit: contain;
    object-fit: contain;
    z-index: inherit;
}

.logoContainer {
    position: absolute;
    left: 0;
    transition: .2s;
    bottom: 0;
    height: 100%;
    width: 11.4rem;
    z-index: 20;
    display: flex;
    justify-content: center;
}
.logoBackground {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 .dropdown {
    position: absolute;
    top: 6rem;
    left: 50%;
    background: #963cff;
    min-width: 100%;
    border-radius: 0 0 2px 2px;
    transform: scale(0) translateX(-50%);
    transform-origin: left top;
    transition: all .1s;
    visibility: hidden;
    z-index: 30;
    padding: 1rem 2rem;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    white-space: nowrap;
}

 .chevron-dropdown {
    width: 0.8rem;
    height: 0.4rem;
    margin-left: 0.8rem;
    display: inline-block;
    vertical-align: baseline;
    transform: translateY(-1.5px);
    background-image: url(https://www.premierleague.com/resources/rebrand/v7.129.2/i/elements/icons/dropdown-sm-white.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
}


.searchBar {
    position: absolute;
    width: 100%;
    top: 0;
    transition: all .4s cubic-bezier(.645,.045,.355,1);
    z-index: 10;
    transform: translateY(-110%);
}

.searchOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(56,0,60,.95);
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
}