.navText {
    font-size: xxx-large;
}

.navLink {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 2rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    position: relative;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    background: #37003c;
}
.navOption {
    position: relative;
}
.searchBtn {
    position: relative;
}
.navLink {
    position: relative;
}
.masthead .navOption, .masthead .pageLinks li, .masthead .searchBtn, .masthead a.navLink {
    position: relative;
}
.pageLinks.li {
    float: left;
    position: relative;
}
ol li, ul li {
    list-style-type: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
    /* margin-bottom: 0; */
}
nav {
    display: block;
}

.navContainer {
    min-height: 6rem;
}

.navBar {
    background: #37003c;
    line-height: 6rem;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    transition: box-shadow .2s;
    backface-visibility: hidden;
    position: relative;
    --vh: 7.07px;
}

.pl-header-logo {
    width: 8.8rem;
    height: 7.2rem;
    -o-object-fit: contain;
    object-fit: contain;
    z-index: inherit;
}

.logoContainer {
    position: absolute;
    left: 0;
    transition: .2s;
    bottom: 0;
    height: 100%;
    width: 11.4rem;
    z-index: 15;
    display: flex;
    justify-content: center;
}
.logoBackground {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
