body {
    background: #fff;
    font-family: PremierSans-Regular,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    color: #37003c;
    -webkit-text-size-adjust: 100%;
    font-size: 1.4rem;
    min-width: 320px;
}

body, html {
    height: 100%;
}

main {
    display: block;
}