// .header1 {
//     display: flex;
//     align-items: center;
//     position: relative;
//     gap: 1rem;
//     width: 100%;
//     background-color: #571d1d;
//     z-index:10;
// }

body {
    background: #fff;
    font-family: PremierSans-Regular,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    color: #37003c;
    -webkit-text-size-adjust: 100%;
    font-size: 1.4rem;
    min-width: 320px;
}

body, html {
    height: 100%;
}

main {
    display: block;
}

.mainContent {
    padding-top: 0;
}

.mainContent {
    clear: both;
    overflow: hidden;
    position: relative;
}